<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
num_duplicate_rows = df.duplicated().sum()

print("Number of duplicate rows:", num_duplicate_rows)

Number of duplicate rows: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [5]:
num_duplicate_rows = df.duplicated().sum()

print("Number of duplicate rows:", num_duplicate_rows)

Number of duplicate rows: 0

In [6]:
df.shape

(11398, 85)

## Finding Missing values

Find the missing values for all columns.

In [7]:
missings = df.isnull().sum()

i = 1
for column, count in missings.items():
    if count > 0:
        print(f"{i}. '{column}' has {count} missing value(s)")
        i += 1

1. 'OpenSource' has 81 missing value(s)
2. 'Student' has 51 missing value(s)
3. 'EdLevel' has 112 missing value(s)
4. 'UndergradMajor' has 737 missing value(s)
5. 'EduOther' has 164 missing value(s)
6. 'OrgSize' has 96 missing value(s)
7. 'DevType' has 65 missing value(s)
8. 'YearsCode' has 9 missing value(s)
9. 'Age1stCode' has 13 missing value(s)
10. 'YearsCodePro' has 16 missing value(s)
11. 'JobSat' has 1 missing value(s)
12. 'MgrIdiot' has 493 missing value(s)
13. 'MgrMoney' has 497 missing value(s)
14. 'MgrWant' has 493 missing value(s)
15. 'LastInt' has 413 missing value(s)
16. 'FizzBuzz' has 37 missing value(s)
17. 'JobFactors' has 3 missing value(s)
18. 'ResumeUpdate' has 39 missing value(s)
19. 'CompTotal' has 809 missing value(s)
20. 'CompFreq' has 206 missing value(s)
21. 'ConvertedComp' has 816 missing value(s)
22. 'WorkWeekHrs' has 122 missing value(s)
23. 'WorkPlan' has 121 missing value(s)
24. 'WorkChallenge' has 164 missing value(s)
25. 'WorkRemote' has 8 missing value(s)
26. 'WorkLoc' has 32 missing value(s)
27. 'ImpSyn' has 5 missing value(s)
28. 'CodeRev' has 1 missing value(s)
29. 'CodeRevHrs' has 2426 missing value(s)
30. 'UnitTests' has 29 missing value(s)
31. 'PurchaseHow' has 196 missing value(s)
32. 'PurchaseWhat' has 38 missing value(s)
33. 'LanguageWorkedWith' has 11 missing value(s)
34. 'LanguageDesireNextYear' has 134 missing value(s)
35. 'DatabaseWorkedWith' has 453 missing value(s)
36. 'DatabaseDesireNextYear' has 1042 missing value(s)
37. 'PlatformWorkedWith' has 411 missing value(s)
38. 'PlatformDesireNextYear' has 544 missing value(s)
39. 'WebFrameWorkedWith' has 1393 missing value(s)
40. 'WebFrameDesireNextYear' has 1617 missing value(s)
41. 'MiscTechWorkedWith' has 2182 missing value(s)
42. 'MiscTechDesireNextYear' has 1455 missing value(s)
43. 'DevEnviron' has 29 missing value(s)
44. 'OpSys' has 34 missing value(s)
45. 'Containers' has 82 missing value(s)
46. 'BlockchainOrg' has 2322 missing value(s)
47. 'BlockchainIs' has 2610 missing value(s)
48. 'BetterLife' has 98 missing value(s)
49. 'ITperson' has 35 missing value(s)
50. 'OffOn' has 38 missing value(s)
51. 'SocialMedia' has 293 missing value(s)
52. 'Extraversion' has 20 missing value(s)
53. 'ScreenName' has 507 missing value(s)
54. 'SOVisit1st' has 325 missing value(s)
55. 'SOVisitFreq' has 5 missing value(s)
56. 'SOVisitTo' has 1 missing value(s)
57. 'SOFindAnswer' has 3 missing value(s)
58. 'SOTimeSaved' has 50 missing value(s)
59. 'SOHowMuchTime' has 1917 missing value(s)
60. 'SOAccount' has 1 missing value(s)
61. 'SOPartFreq' has 1128 missing value(s)
62. 'SOJobs' has 6 missing value(s)
63. 'EntTeams' has 5 missing value(s)
64. 'WelcomeChange' has 85 missing value(s)
65. 'SONewContent' has 1965 missing value(s)
66. 'Age' has 287 missing value(s)
67. 'Gender' has 73 missing value(s)
68. 'Trans' has 123 missing value(s)
69. 'Sexuality' has 542 missing value(s)
70. 'Ethnicity' has 675 missing value(s)
71. 'Dependents' has 140 missing value(s)
72. 'SurveyLength' has 19 missing value(s)
73. 'SurveyEase' has 14 missing value(s)

Find out how many rows are missing in the column 'WorkLoc'

In [8]:
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [9]:
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [10]:
#make a note of the majority value here, for future reference
#'Office' is the most frequent value in df['WorkLoc']

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [11]:
df['WorkLoc'].replace(np.nan, 'Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [12]:
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [13]:
# your code goes here
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [14]:
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = df['CompTotal'] * 12 # months per year
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation'] = df['CompTotal'] * 52  # weeks per year
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation'] = df['CompTotal']
df[['CompFreq','CompTotal','NormalizedAnnualCompensation']].head(15)

   CompFreq  CompTotal  NormalizedAnnualCompensation
0    Yearly    61000.0                       61000.0
1    Yearly   138000.0                      138000.0
2    Yearly    90000.0                       90000.0
3   Monthly    29000.0                      348000.0
4    Yearly    90000.0                       90000.0
5   Monthly     9500.0                      114000.0
6   Monthly     3000.0                       36000.0
7    Yearly   103000.0                      103000.0
8    Yearly    69000.0                       69000.0
9   Monthly     8000.0                       96000.0
10  Monthly     7000.0                       84000.0
11   Yearly   114000.0                      114000.0
12   Weekly     2000.0                      104000.0
13   Weekly    22000.0                     1144000.0
14  Monthly    96000.0                     1152000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).